{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div>



<div class="p-4 p-md-5 mb-4 text-white rounded background-black-red">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to Red Fox Studios</h1>
      <p class="lead my-3">An indepedent studio, bringing art to your door.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
  </div>
<br >

<div class="container">

<div class="row  text-center">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card shadow-sm">
            <img src="media/content/shop.jpg" height="200" width="290" class="center">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-info btn-center">Insert link to shop</button>
                </div>
            
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card shadow-sm">
            <img src="media/content/learn.jpg" height="200" width="290" class="center">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary">Insert link to blog</button>
                </div>
             
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card shadow-sm">
            <img src="media/content/explore.jpg" height="200" width="290" class="center">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
              
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-dark">Insert link to about page</button>
                </div>
           
            </div>
          </div>
        </div>
      </div>

  
<hr class="featurette-divider">
<!-- faq -->
<br >

<div class="row featurette text-center">
      <div class="col-md-5 ">
        <h1 class="featurette-heading text-center">FAQ</h1>
        <h2 class="text-muted">Want to know more?</h2>
       <hr class="featurette-divider">
        <p class="lead">Who we are?</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <p class="lead">Why Red Fox?</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <p class="lead">What we offer?</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>
      <div class="col-md-7 ">
          <img src ="media/content/redfox.jpg" class="fox-home" height="350" width ="300">
      </div>
</div>
<hr class="featurette-divider">
</div>






  </div>


<br>
{% endblock %}