{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="text-center">
<h1> Explore... <span class="blue">Shop... </span><span class="red">Discover... </span></h1>
</div>

<br >
    
<div class="container">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who we are? <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Explore the process with each button showing the creative process</p>
        <button class="test">Hide</button>
        <button class="test1">Show</button>
    </div>

      <div class="col-md-5 show1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>


<br >
      
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">For sale <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Shop a range of products with buttons for styles</p>
        <button class="test">Hide</button>
        <button class="test1">Show</button>
    </div>

      <div class="col-md-5 show1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <br>

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The process<span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Shop a range of products with buttons for styles</p>
        <button class="test">Hide</button>
        <button class="test1">Show</button>
    </div>

      <div class="col-md-5 show1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
</div>

<br>
{% endblock %}