html {
    height: 100%;
    width: 100%;
}

/* --- background image for banner    url("/media/elephant.jpg") no-repeat center center fixed. */

.background-image {
    background: url("/media/banner.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 240px);
    color: lightskyblue;
}


/*--- navbar ----- */

.nav-logo {
    margin: 0 auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
