
{% extends "base.html" %}
{% load static %}

{% block title %}About our Studio{% endblock %}


{% block content %}

<div class= "container">
<hr class="featurette-divider">
  <h1 class="text-center featurette-heading">About our Studio</h1>
  <hr class="featurette-divider">

  
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who we are?</h2>
        <p class="lead">Read about our studio and our story.  </p>
            <button class="test1">Traditional</button>
            <button class="test2">Digital</button>
            <p>
                <br>
                Find out more...
                <br>
                <strong>Link to about studio page - story studio images possible map location</strong>
            </p>       
    </div>

      <div class="col-md-5 show1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
</div>


<br >
      
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">For sale</h2>
        <p class="lead">Shop a range of artworks, there is something for all tastes. 
            <br>
            <strong>link to shops</strong>
        </p>
        
    </div>

      <div class="col-md-5 show2">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <br>

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The process</h2>
        <p class="lead">From sketch to finished product.  Read our blog for how our artworks are created.</p>
            <button class="btn btn-dark" type="button" href="#carouselExampleFade" data-bs-slide="prev">Previous
            </button>
            <button class="btn btn-dark" type="button" href="#carouselExampleFade" data-bs-slide="next">Next
            </button>
            <strong>Link to blog</strong>
    </div>



      <div class="col-md-5 show3">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="media/581204_10202516885869768_1827806966_n.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="media/1610943_10206904878406839_582915689538362385_n.jpg" class="d-block w-100" alt="...">
    </div>
    
  </div>
  
  
</div>
      </div>
    </div>

<br>



<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


</div>
</div>
    {% endblock %}