
{% extends "base.html" %}
{% load static %}

{% block title %}About our Studio{% endblock %}


{% block content %}

<div class= "container">
  <section class="py-5 text-center bg-dark">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Our Studio</h1>
        <p class="lead text-muted">Established in 2008, our studio has changed to meet our ever-growing customer base.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Our old studio</a>
          <a href="#" class="btn btn-secondary my-2">Our new studio</a>
        </p>
      </div>
    </div>
  </section>

<hr class="featurette-divider">


  <div class="row featurette">
      <div class="col-md-7 ">
        <h2 class="featurette-heading">Our beginning</h2>
        <p class="lead">Selling at local markets, we developed a loyal and ever growing customer base.</p>
      </div>
      <div class="col-md-5">
        <img src="media/content/market.jpg" alt="Market Stall" height="300" width="300">
      </div>

    <hr>
    </div>


<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">It was a few years onwards we moved into our first studio.</h2>
        <p class="lead">Giving up on our day job, we took the plunge to be full time artists.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="media/content/brushes.jpg" alt="Market Stall" height="300" width="300">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We even held our first event at this location.</h2>
        <p class="lead">But space was becoming a bit of an issue with more artworks being produced and we needed to grow.</p>
      </div>
      <div class="col-md-5">
        <img src="media/content/first_gallery.jpg" alt="Market Stall" height="300" width="300">
      </div>
    </div>
<hr class="featurette-divider">


  <h1 class="text-center featurette-heading">Events</h1>
  <hr class="featurette-divider">


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}